* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: rgb(6, 82, 145);
}

.horizontalRule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/*--------封面大圖及文字--------*/
header {
  background-image: url(./image/blurBackgroud.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*寬度不構，自動往下*/
}

.coverImg {
  width: 500px;
  /*圖片大於500時不再變大*/
  max-width: 100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
  height: auto;
  padding: 4.5rem 2rem 2rem 2rem;
}

/*--------nav bar--------*/
nav {
  background-color: rgb(0, 4, 63);
  display: flex;
  justify-content: space-between;
  position: sticky;

  position: fixed;
  min-width: 100%;
  opacity: 0.84;
}

.iconAndTitle {
  display: flex;
}

.navLink {
  display: flex;
}

nav img {
  padding-left: 15px;
  height: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  padding: 0.5rem 0.75rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/*--------大標題--------*/

.title {
  display: flex;
  background-color: rgb(223, 223, 223);
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*-------內容區塊--------*/
main section {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section div img {
  width: 800px;
  max-width: 100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
  height: auto;
  display: flex;
  padding: 2rem;
  flex: 1 1 400px;
}

.word {
  flex-direction: column;
  display: flex;
  padding: 2rem;
  flex: 1 1 400px;
}

.word h2 {
  padding: 0.65rem 0;
}
